
.acc__desk{

    /* border: saddlebrown solid; */
  /* background: white ; */
    background: transparent linear-gradient(135deg, #f4f3f3 30%, #4d52523e 100%) 0% 0% no-repeat padding-box;
min-height: 100vh;
}
.acc__desk__content{
    margin: auto;
    max-width: 90%;
    /* margin-top: 30px; */
    padding-top: 30px;

}


.acc__desk__right{
    /* border: solid red; */
    width: 100%;
    margin-left: 10px;
}
.acc__desk__right__header{
    /* height: 50px; */
    /* border: saddlebrown solid; */
    padding: 6px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}
#acc__left__btn{
background-color: gray;
color: #fff;
padding: 2px;
font-size: 14px;
color: #fff;
}
.acc__desk__right__header{
    justify-content: space-between;
}
.acc__desk__right__header__right{
    /* border: saddlebrown solid; */
    width: 200px;
    justify-content: space-between;
}
.acc__desk__right__header__right button{
    background-color: rgb(0, 128, 87);
    color: #fff;
    padding: 2px;
    font-size: 14px;
    color: #fff;
    width: 80px;
}
.acc__desk__right__header__right button:hover{
    opacity: .9;
}
 .acc__desk__right__header__right__div{
    border: solid 1px gray;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
     
 }




 
 .search{
    outline: none;
    /* border: solid red; */
    max-width: 80%;
    /* border: #fff solid; */
    margin: auto;
    /* height: 50vh; */
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 10px; 
    border-radius: 10px;
 }
 .search__head{
    font-family: "Heebo", sans-serif;
    font-weight: 16px;
    /* padding-top : 10px; */
    /* height: 50px; */
    /* padding-bottom: 10px; */
   /* color: #fff; */
    /* background-color: rgb(0, 128, 41); */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
justify-content: space-between;
}
#search__head__close{
    margin-right: 10px;
    color: rgb(230, 11, 11);
    font-size: 30px;
    cursor: pointer;
}
 .search__btn{
    cursor: pointer;
    margin-right: 10px;
    /* background-color: gray; */
    /* padding: 5px; */
    border-right: 1px solid #fff;

    /* border-bottom: 1px solid green; */
 }
 #search__btn__active{
    border-bottom: 3px solid green;
 }
 
 .search__row{
    font-family: "Heebo", sans-serif;
    color: rgb(94, 92, 92);
    margin-top: 20px;
/* border: saddlebrown solid; */
 }
 .search__row p{
    width: 100%;
    max-width: 200px;
    
    font-family: "Heebo",sans-serif;
    font-size: 15px;

 }
 .search__row__right input{
border: solid 1px rgba(128, 128, 128, 0.607);
max-width: 100px;
padding-left: 5px;
margin-right: 10px;
margin-left: 10px;
border-radius: 5px;
 height: 24px;
 }

 .search__row__maritial__item{
    align-items: center;
    font-size: 14px;
    /* margin-right: 10px; */
 }
 .search__row__maritial input{
    margin-left: 5px;
    height: 17px;
    width: 17px;
    margin-top: 3px;
   
 }
 .search__madhab{
    /* border: saddlebrown solid; */
    width: 100%;
 }
 .search__madhab select{
    border: solid  1px rgba(128, 128, 128, 0.849);
    outline: none;
    width: 100%;
    max-width: 200px;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    /* border: solid red; */
 }
 .search__madhab option{
    margin-top: 40px;
    /* font-size: 14px; */
 }
 .id__search{
    /* border: solid red; */
    margin-top: 30px;
    padding-bottom: 40px;
 }

 .id__search p{
    font-family: "Heebo", sans-serif;
 }
 .id__search input{
    padding-left: 5px;
    outline: none;
    border: solid 1px;
    border: none;
    box-shadow: rgba(63, 63, 66, 0.215) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
 }
 .id__search button{
    font-family: "Poppins", sans-serif;
    background-color: green;
    color: #fff;
    font-size: 14px;
    padding: 3px;
    width: 70px;
 }

 .search__btn__div{
    max-width:fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
 }
 .search__btn__div button{
    background-color: rgb(0, 128, 64);
    color: #fff;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
   
 }

 @media only screen and (max-width: 801px) {
  
   .acc__desk__right__header{
    position: fixed;
   width: 100%;
   max-width: 100%;
   margin-left: 0;
   }
   
       
       
      .acc__desk__right__header__right {
   margin-right: 10px;
      }
  }