 
 .mob__menu{
  
    width: 100%;
    position: fixed;
    margin: auto;
    /* width: fit-content; */
    /* position: fixed; */
    display: flex;
    z-index: 100;
    background-color: #fff;
    justify-content: center;
    /* margin-top: 30px; */
    top: 0;
    margin-top:70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.menu__flot__btn{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(6, 122, 64);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu__flot__icon{
    font-size: 35px;
}
.acc__mob__profiles{
    /* border: solid green; */
    padding: 5px;
    /* padding-top: 20px; */

    min-height: 100vh;
    background: transparent linear-gradient(135deg, #f4f3f3 30%, #4d52523e 100%) 0% 0% no-repeat padding-box;
}
.mob__acc__desk__head{
    /* position: absolute; */
    /* width: 100%; */
}
 

 @media only screen and (max-width: 800px) {
    .acc__desk__right__row{
      margin-top: 40px;
     }
   }

   .mob{
    /* height: 200vh; */
    /* border: solid red; */
   }
   .b__bar{
    background-color: #fff;
    /* height: 50px; */
    padding: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    /* border-top: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    /* top: 0; */
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
   }

#b__bar__icons{
font-size: 35px;
}

.mob__content{
    /* margin-top: 10px; */
    padding: 10px;
    padding-bottom: 100px;
}


@media only screen and (min-width: 801px) {
    .b__bar{
display: none;
    }
   }