.acc__sbar {
  min-width: 300px;
  max-width: 300px;
}
.sbar__first__row {
  background-color: #fff;
  /* height: 200px; */

  padding: 12px;
  /* border: saddlebrown solid; */
}
.sbar__first__row__left {
  max-width: 70px;
}
.sbar__first__row__right {
  margin-left: 20px;
  /* border: solid red; */
  height: fit-content;
}
.sbar__first__row__right h6 {
  font-size: 14px;
}
.sbar__first__row__right p {
  font-size: 14px;
}
.sbar__first__row__right button {
  background-color: rgb(13, 107, 47);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 2px;
  width: 100%;
}
.sbar__first__row__right button:hover {
  opacity: 0.9;
}

.sbar__second__row {
  padding: 13px;
  /* height: 100px; */
  /* border: solid red; */
  margin-top: 10px;
  background-color: #fff;
}
.sbar__second__row__div {
  justify-content: space-between;
}
#sbar__second__row__btn1 {
  background-color: rgb(74, 51, 51);
  color: #fff;
  padding: 3px;
  width: 47%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  /* border-radius: 3px; */
}
#sbar__second__row__btn2 {
  background-color: rgb(62, 120, 112);
  color: #fff;
  padding: 3px;
  width: 47%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#sbar__second__row__btn3 {
  background-color: rgb(55, 127, 92);
  color: #fff;
  padding: 3px;
  width: 47%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
#sbar__second__row__btn4 {
  background-color: rgb(214, 125, 9);
  color: #fff;
  padding: 3px;
  width: 47%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
#sbar__second__row__btn1:hover {
  opacity: 0.9;
}

#sbar__second__row__btn2:hover {
  opacity: 0.9;
}

#sbar__second__row__btn3:hover {
  opacity: 0.9;
}

#sbar__second__row__btn4:hover {
  opacity: 0.9;
}

.sbar__third__row {
    /* padding: 13px;    */
    /* height: 100px; */
    /* border: solid red; */
    margin-top: 10px;
    background-color: #fff;
}

.sbar__third__row__div h5{
    font-family: "Poppins", sans-serif;
     font-size: 15px;
}
.sbar__third__row__div{
    padding: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.454);
}
.sbar__third__row__bottom{
    padding: 13px;
    justify-content: space-between;
}
.sbar__third__row__bottom {
    justify-content: space-between;
    /* padding-bottom: 20px; */
}
.sbar__third__row__bottom p{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-left: 5px;
}
#sbar__third__row__bottom__icon{
    color:rgb(78, 77, 77);
    font-size: 18px;
}
.sbar__third__row__right{
    align-items: center;
    cursor: pointer;
}
.sbar__third__row__left{
    align-items: center;
    cursor: pointer;
}
.sbar__settings{
    /* padding: 13px;    */
    /* height: 100px; */
    /* border: solid red; */
    margin-top: 10px;
    background-color: #fff;
}
.sbar__setings__row{
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.sbar__setings__row p{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-left: 5px;
    color: rgb(68, 67, 67);
}
.sbar__setings__row {
    justify-content: space-between;
}

.sbar__help{
    background-color: #fff;
    padding: 13px;
    /* height: 100px; */
    margin-top: 10px;
}

.sbar__help__circle{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.sbar__help{
    align-items: center;
    
}
.sbar__help__right{
    margin-left: 10px;
}
.sbar__help p{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(96, 96, 96);
}
.sbar__help h6{
    color: rgb(12, 117, 87);
    margin-top: -5px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Poppins", sans-serif; 
letter-spacing: 1px;
}

.photo__edit__modal img{
  max-width: 200px;
  max-height: 250px;
}
.photo__edit__modal{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid red; */
  height: 400px;
  max-width: 500px;
  margin: auto;
  margin-top: 70px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.888);
}

 
.photo__edit__modal button{
  background-color: rgb(8, 61, 26);
  width: 100%;
  color: #fff;
  margin-top: 10px;
  font-family: "Heebo", sans-serif;
  padding: 3px;
}

#intr__acc__btn{
  background-color: rgb(14, 94, 69);
  color: #fff;
  border:1px solid #fff;
  outline: none;
  cursor: auto;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 6px;
}
#intr__send__btn{
  background-color: rgb(14, 82, 94);
  color: #fff;
  border:1px solid #fff;
  outline: none;
  cursor: auto;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 6px;
}
#intr__igno__btn{
  background-color: rgb(94, 59, 14);
  color: #fff;
  border:1px solid #fff;
  outline: none;
  cursor: auto;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 6px;
}


 
.photo__edit__modal label{
  /* background-color: green; */
  /* border: solid  1px red; */
  background-color: gray;
  
  margin: auto;
  /* color: #fff; */
}

#edit__phot__close{
  color: red;
  /* float: right; */
  right: 0;
  top: 0;
  position: absolute;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}



.hide__profiel__modal{
  background-color: rgba(255, 255, 255, 0.879);
  height: 300px;
  max-width: 900px;
  margin: auto;
  outline: none;
  margin-top: 100px;
  padding: 20px;
  position: relative;
}

.hide__profiel__head{
  padding-bottom: 5px;
  font-family: "Heebo", sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.833);

}
.hide__profiel__content{ 
padding-top: 20px;
}
.hide__profiel__content p{ 
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  color: rgb(28, 27, 27); 
}
.hide__status{
  align-items: center;
  font-family: "Heebo", sans-serif;
  /* font-size: 15px; */
  color: rgb(28, 27, 27); 
  margin-top: 20px;
}
.hide__status h6{
  color: green;
  font-size: 17px;
  margin-left: 5px;
}
.hide__prof__button{
  width: 100%;

  /* border: solid red; */
  display: flex;
  justify-content: center;
}
.hide__prof__button button{
  color: #fff;
  border-radius: 5px;
  padding: 4px;
  background-color: rgb(0, 98, 255);
  margin-top: 30px;
}

.unhide__btn{
  background-color: green;
}

#delete__prof__btn{
  background-color: red;
}

.sbar__setings__row p{
  cursor: pointer;
}


#sbar__wtsp__icon{
  font-size: 21px;
  color: rgb(21, 132, 63);
  margin-top: -2px;
}
#sbar__tlgrm__icon{
  font-size: 21px;
  margin-top: -2px;
  color: rgb(7, 100, 117);
}