.footer{
    background-color: rgb(0, 128, 51);
    padding-bottom: 70px;

}


.footer__bottom{
    
    /* margin-top: 70px; */
    background-color: rgb(5, 100, 43);
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.footer__bottom__content{

    width: 80%;
    margin: auto;
   
}
.footer__bottom__content__left{
    
    display: flex;
    width: 100%;
    align-items: center;
}
.footer__bottom__content__left p{
    font: normal normal normal 13px/20px Overpass;
    font-family: "Overpass", sans-serif;
    color: #fff; 
    cursor: pointer;
}
.footer__bottom__content__left p:hover{
    color: #fff; 
}
.footer__bottom__content__left span{
    margin-left: 5px;
    margin-right: 5px;
}
.footer__bottom__content__right{
    
    align-items: center;
    display: flex;
}

.footer__bottom__content__right p{
    font: normal normal normal 13px/20px Overpass;
    font-family: "Overpass", sans-serif;
    color: #fff; 
}

#footer__favorite__icon{
    color: #fff; 
    margin-left: 10px;
}


.footer__bottom__content__right span:hover {
    color: #ffff; 
}
@media screen and (max-width: 800px) {
    .footer__bottom__content__left p{
        font: normal normal normal 13px/25px Overpass;
        font-family: "Overpass", sans-serif;
        color: #fff; 
        cursor: pointer;
    }
    .footer__bottom__content__left{
       
        display: block;
     
        align-items: center;
        margin: auto;
        margin-top: 10px;
        
    }
    .footer__bottom__content__right{
        margin: auto;
      /* margin-top: 40px; */
      display: block;
   
    }
    .footer__bottom__content__right p{
      text-align: center;
    }
    .footer__service{
        margin-top: 0px;
        
     }
    .footer__service__div{
     
        max-width: 100%;
        margin: auto;
    }
    .footer__service p{
        font: normal normal normal 14px/40px Overpass;
        font-family: "Overpass", sans-serif;
        cursor: pointer;
    } 
  
}

#testing{
    color: rgb(53, 123, 197);
}