 
.terms{
    /* border: saddlebrown solid; */
    /* margin-top: 30px; */
    height: 90vh;
    background-color: aliceblue;
}
    
.terms__main{
    /* border: solid red; */
    margin: auto;
    padding-top: 30px; 
}
    @media only screen and (min-width: 850px) {
        
.terms__main{
            max-width: 80%;
        }
        
     
     }

     .term__icon{
        color: rgb(76, 75, 75) ;
     }

     .terms__main h2{
text-align: center;
font-family: sans-serif;
font-weight: 600;
font-size: 22px;
color: rgb(54, 52, 52);
     }

     .terms__main  p{
        margin-left: 5px;
        font-family: 'Heebo',sans-serif;
     }
     .terms__row{
        margin-top: 20px;
     }

     .price__row{
        /* text-align: center; */
        margin-top: 20px;
     }