.view {
  background: transparent linear-gradient(135deg, #f4f3f3 30%, #4d52523e 100%)
    0% 0% no-repeat padding-box;
    /* min-height: 100vh; */
    padding-bottom: 50px;
}
@media only screen and (min-width: 850px) {
  .view__content {
    max-width: 90%;
    margin: auto;
  }
}
.view__content {
  margin-top: 15px;
}
.view__right {
  /* border: solid red; */
  /* height: 100vh; */
  margin-left: 10px;
  background-color: #fff;
  width: 100%;
  padding: 15px;
}
.view__head {
  padding: 6px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.view__head h6 {
  /* font-family: "Poppins",sans-serif; */
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  color: rgb(7, 92, 129);
}
.view__head__left {
  align-items: center;
}
.view__head__left p {
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  margin-left: 5px;
  margin-top: -2px;
  color: rgb(56, 54, 54);
}
.view__head__right p {
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  margin-left: 5px;
  margin-left: -1px;
  color: rgb(56, 54, 54);
 
}
#view__loc__icon {
  font-size: 18px;
  color: rgb(3, 74, 3);
}

.view__main {
  background-color: rgb(231, 236, 236);
  /* height: 400px; */
  padding: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
}
/* .view__main__img{
    max-width: 200px;
} */
.view__main__right {
  /* border: saddlebrown solid; */
}
.view__main__img img{
  max-height: 250px;
  max-width: 200px;
}

.view__main__first__left {
  align-items: center;
  margin-top: 5px;
}
.view__main__first__row p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 5px;
 
  color: rgb(90, 88, 88);
  
}

 
 
.view__main__first__row {
  margin-top: 10px;
}
.view__main__icons{
    font-size: 18px;
    color: rgb(82, 80, 80);
}
#auto__icon{
    color: rgb(255, 208, 0);
}
#view__peron{
    color: rgb(0, 140, 255);
}
#sett__icon{
    color: rgb(98, 0, 255);
}
#school__icon{
    color: rgb(54, 95, 129);
}
#place__icon{
    color: rgb(211, 103, 21);
}

.view__like{
    background-color: #fffbfb98;
    /* height: 200px; */
    margin-top: 10px;
    padding: 10px;
}
  .view__like h6{
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* margin-left: 5px; */
    /* margin-left: -1px; */
    color: rgb(4, 86, 109);
  }
  .view__like p{
    font-family: "Heebo", sans-serif;
    font-size: 14px;
    /* margin-left: 5px; */
  margin-top: 5px;
    
    /* margin-left: -1px; */
    color: rgb(90, 88, 88);
  }
  .view__like h5{
    font-family: "Heebo", sans-serif;
    font-size: 13.5px;
    /* margin-left: 5px; */
  margin-top: 5px;
    
    /* margin-left: -1px; */
    color: rgb(121, 120, 120);
  }
  .view__like  button{
    font-family: "Heebo", sans-serif;
    background-color: rgb(234, 10, 10);
    color: #fff;
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;

  }
  #view__fav__icon{
margin-left: 5px;
font-size: 23px;
  }
  .view__desc{
margin-top: 10px;
box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
padding : 10px;
padding-bottom: 10px;
  }

  .view__desc h6{
    
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    color: rgb(6, 64, 122);
}
.view__desc p{
    
   font-size: 14px;
    font-family: "Heebo", sans-serif;
    color: rgb(84, 84, 84);
}
 .view__desc h5{
    font-size: 14px;
    font-family: "Heebo", sans-serif;
    /* color: rgb(84, 84, 84); */
    /* margin-left: 5px; */
 }

 .view__desc__columns{
    /* border: solid red; */
 }

 .view__intrest__send{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding : 10px;
    padding-bottom: 10px;
    /* background-color: rgb(217, 212, 212); */
    /* height: 200px; */
 }
 .view__intrest__send__head{
    background-color: rgb(12, 100, 49);
    /* height: 40px; */
    padding: 10px;
    font-size: 17px;
    font-family: "Heebo", sans-serif;
    color: #fff;
    font-weight: bold;
 }

 .view__intrest__send__div{
    padding-bottom: 30px;
    justify-content: space-between;
    padding-top: 30px;
    /* height: 200px; */
    background-color: rgb(244, 243, 243);
 }
 .view__intrest__send__div p{
    font-family: "Heebo", sans-serif;
     
  margin-left: 10px;
 
 }
 .view__intrest__send__div button{
    background-color: rgb(193, 13, 13);
    margin-right: 20px;
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-size: 14px;
    padding: 5px;
 }

 .share__logo__div{
  max-width: 50px;
  margin-left: 100px;
  /* border: solid red; */
 }



 @media only screen and (max-width: 800px) {
  .sidebar__div{
display: none;
/* border: solid red; */
  }
 
  .view__main__img{
    max-height: 250px;
    max-width: 300px;
    /* width: 100%; */
    margin: auto;
    /* border: saddlebrown solid ; */
  }
   .view__main__img__div{
    max-height: 250px;
    max-width: 300px;
    /* width: 100%; */
    margin: auto;
   }
  .view__intrest__send__div button{
    background-color: rgb(193, 13, 13);
    margin-right: 0px;
    margin-top: 20px;
    width: 100%
  
 }
 .view__intrest__send__div{
  padding-bottom: 0px;
  justify-content: space-between;
  padding-top: 20px;
  /* height: 200px; */
  margin-bottom: 10px;
  background-color: rgb(244, 243, 243);
}
.view__right {
  /* border: solid red; */
  /* height: 100vh; */
  margin-left: 0px;
 
  padding: 10px;
}
}
 


/* .blur__address p{
  max-width: fit-content;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.242);
  background-color: rgba(0, 0, 0, 0.685);
} */
/* .blur__address h5{
  background-color: rgba(0, 0, 0, 0.685);
  max-width: fit-content;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.237);
} */
.blur__address span{
  background-color: rgba(0, 0, 0, 0.685);
  max-width: fit-content;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.237);
}
 
.view__desc h4{
  font-family: 'Heeebo',sans-serif;
  font-size: 15px;
  margin-top: 5px;
  color: rgba(255, 0, 0, 0.792);

}
#view__loc__btn{
  color: #fff;
  font-family: 'Heebo',sans-serif;
  background-color: rgb(0, 64, 255);
  font-size: 14px;
  padding: 2px;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


.pay__not__modal{
  max-width: 100px;
  border: #4d52523d solid;
  height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.pay__not__not{
  /* border: solid red; */
  /* height: 300px; */
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  /* display: flex; */
  padding-top: 60px;
  padding-bottom: 50px;
}
.pay__not__not p{
  font-family: 'Poppins',sans-serif;
}

.pay__not__not button{
color: #fff;
padding: 3px;
font-size: 14px;
border-radius: 5px;
margin-top: 30px;
}
.pay__ok__btn{
  background-color: rgb(0, 89, 255);
  width: 50px;
  margin-left: 50px;
}
.pay__cncl__btn{
  background-color: red;
  width: 100px;
}

#saved__btn{
  background-color: rgb(10, 137, 192);
  color: #fff;
  padding: 3px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "Poppins",sans-serif;
}
.share__view__button{
  background-color: rgb(9, 111, 79);
  color: #fff;
  padding: 3px;
  margin-top: 10px;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
}


.blur__text {
  margin-left: 5px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#prof__tlgr__icon{
  width: 35px;
  margin-top: 0;
  max-height: 35px;
 margin-top: -5px;
}
 .view__prop__div{
  border: solid 1px gray;
/* padding: 1px; */
border-radius: 7px;
margin-left: 5px;
height: fit-content;
cursor: pointer;
width: 50px;
justify-content: center;
 }
 .view__prop__div p{
  font-size: 10px;
 }
 #show__icon{
font-size: 14px;
margin-left: 3px;
 }